.snippet {
  font-size: 16px;
  color: darkorchid;
  padding: 4px;
  background-color: aliceblue;
}

.post__title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: capitalize;
}

.post {
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid lightgray;
}

.ex-container p {
  margin-top: 1rem;
  padding: 2rem;
  background-color: aliceblue;
  margin-bottom: 0;
  font-weight: bold;
}
